body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.row {
    display: flex;
}

.col {
    width: 15px;
    height: 15px;
}

.main-grid {
    margin: auto;
    width: 500px;
    height: 500px;
    border: solid 5px blue;
}

.color-picker {
    margin: 10px;
}